*{box-sizing: border-box; margin: 0; padding: 0;}

:root{
    --background-notas: #ecedf1;
    --background-yellon: #f9d230;
    --tittle-yellow: #ffd300;
    --title: #000000;
    --title-white: #ffffff;
    --tittle-gray: #5D5D5D;
    --tittle-dark-red: #ff4e3b;
    --tittle-green: #4CCDAF;
    --tittle-blue: #33BCFF;
    --text-white: #fff;
    --paragraph:#000;
    --paragraph-white: #fff;
    --paragraph-01: #0000;
    --paragraph-gray: #5D5D5D;
    --paragraph-blue: #4C92FF;
    --paragraph-yellow: #ffd300;
    --blue-gradient: linear-gradient(0deg,#959fff,#3f94ff);
    --green-gradient: linear-gradient(0deg,#81d8b0,#02bfae);
    --red-gradient: linear-gradient(0deg,#ff7260,#ff210e);
}

@font-face {font-family: CamphorProForXiaoMi-Regular; src: url(../css/fonts/CamphorProForXiaoMi-Regular.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Bold; font-weight: 700; src: url(../css/fonts/CamphorProForXiaoMi-Bold.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Thin; src: url(./fonts/CamphorProForXiaoMi-Thin.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Heavy; font-weight: 900; src: url(./fonts/CamphorProForXiaoMi-Heavy.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Medium; src: url(./fonts/CamphorProForXiaoMi-Medium.woff) format("woff")}

.f-heavy {font-family: CamphorProForXiaoMi-Heavy, sans-serif; font-weight: 900}
.f-regular {font-family: CamphorProForXiaoMi-Regular, sans-serif}
.f-light {font-family: CamphorProForXiaoMi-Light, sans-serif}
.f-bold {font-family: CamphorProForXiaoMi-Bold, sans-serif; font-weight: 700}
.f-medium {font-family: CamphorProForXiaoMi-Medium, sans-serif}
.f-thin {font-family: CamphorProForXiaoMi-Thin, sans-serif}

@media screen and (min-width:1024px) {main{display: none;}}

@media screen and (min-width:760px) and (max-width:1023px) {main{display: none;}}

@media screen  and (max-width:768px) {

    a:link {text-decoration: none;} 

    .root-xiaomi-redmi-buds-4 {overflow: hidden; width: 100%;}

    .title_xiaomi-redmi-buds-01 {font-size: 3rem; color: var(--title); text-align: justify; margin: 4rem 1rem 0rem 1rem;}
    .title_xiaomi-redmi-buds-02-1 {font-size: 2.5rem; color: var(--title);}
    .title_xiaomi-redmi-buds-02-2 {font-size: 1.5rem; color: var(--title); margin-left: 1rem; margin-bottom: 1rem;}
    .paragraph_xiaomi-redmi-buds-01 {font-size: 1rem; line-height: 1.4rem; color: var(--paragraph); text-align: left; margin-left: 1rem;}

    .title_xiaomi-redmi-buds-03-1 {font-size: 0.8rem; line-height: 1rem; color: var(--title); text-align: left; margin: 6rem 12rem 1rem 1.2rem;}
    .title_xiaomi-redmi-buds-03-2 {font-size: 0.8rem; line-height: 1rem; color: var(--title); text-align: left; margin: 3rem 1rem 1rem 1rem;}
    .title_xiaomi-redmi-buds-03-3 {font-size: 0.8rem; line-height: 1rem; color: var(--title-white); text-align: left; margin: 2rem 1rem 1rem 1rem;}
    .title_xiaomi-redmi-buds-03-4 {font-size: 0.8rem; line-height: 1rem; color: var(--title); text-align: left; margin: 4rem 12rem 1rem 1.2rem;}

    .title_xiaomi-redmi-buds-04-1 {font-size: 2.5rem; color: var(--title); margin: 5rem 1rem 1rem 1rem;}
    .title_xiaomi-redmi-buds-04-2 {font-size: 1.5rem; color: var(--title); margin: 3rem 1rem 0rem 1rem; padding: 1rem 1rem 0rem 1rem;}
    .paragraph_xiaomi-redmi-buds-04 {font-size: 1rem; line-height: 1.4rem; color: var(--paragraph); text-align: left; margin: 1rem; padding: 1rem 1rem 1rem 1rem;}

    .title_xiaomi-redmi-buds-05-1 {font-size: 1.5rem; color: var(--title);}
    .paragraph_xiaomi-redmi-buds-05 {font-size: 1rem; color: var(--paragraph);}

    .title_xiaomi-redmi-buds-06-2 {font-size: 1.5rem; color: var(--tittle-yellow); margin: 3rem 1rem 0rem 1rem; padding: 1rem 1rem 1rem 1rem;}
    .paragraph_xiaomi-redmi-buds-06 {font-size: 1rem; line-height: 1.4rem; color: var(--paragraph-white); text-align: left; margin: 1rem; padding: 0rem 1rem 0rem 1rem;}

    .title_xiaomi-redmi-buds-07-1 {font-size: 1rem; color: var(--tittle-yellow); text-align: center; padding: 0rem 0rem 0rem 0rem;}
    .paragraph_xiaomi-redmi-buds-07 {font-size: 1rem; color: var(--paragraph-white); text-align: center; padding: 0rem 0rem 0rem 0rem;}

    .title_xiaomi-redmi-buds-08-2 {font-size: 1.5rem; color: var(--tittle); margin: 3rem 1rem 0rem 1rem; padding: 1rem 1rem 1rem 1rem;}
    .paragraph_xiaomi-redmi-buds-08 {font-size: 1rem; line-height: 1.4rem; color: var(--paragraph); text-align: left; margin: 1rem 1rem 2rem 1rem; padding: 0rem 1rem 0rem 1rem;}

    .title_xiaomi-redmi-buds-08-2-1 {font-size: 1.5rem; color: var(--tittle);}
    .paragraph_xiaomi-redmi-buds-08-1 {font-size: 1rem; color: var(--paragraph);}
    
    .title_xiaomi-redmi-buds-09-2-1 {font-size: 1.5rem; color: var(--tittle); text-align: left; margin: 3rem 1rem 1rem 2rem;}

    .title_xiaomi-redmi-buds-10-2 {font-size: 1.5rem; color: var(--tittle); margin: 2rem 1rem 0rem 1rem; padding: 1rem 1rem 0rem 1rem;}
    
    .title_xiaomi-redmi-buds-10-2-1-first {font-size: 1rem; color: var(--tittle); text-align: center; padding: 0rem 0rem 0rem 0rem;}
    .title_xiaomi-redmi-buds-10-2-1-second {font-size: 1rem; color: var(--tittle); text-align: center; padding: 0rem 0rem 0rem 0rem;}
    .title_xiaomi-redmi-buds-10-2-1-third {font-size: 1rem; color: var(--tittle); text-align: center; padding: 0rem 0rem 0rem 0rem;}

    .title_xiaomi-redmi-buds-11-2 {font-size: 1.5rem; color: var(--tittle); margin: 3rem 0rem 0rem 0rem;}
    .paragraph_xiaomi-redmi-buds-11 {font-size: 1rem; line-height: 1.4rem; color: var(--paragraph); text-align: left; margin: 1rem 0rem 1rem 0rem;}

    .title_xiaomi-redmi-buds-12 {font-size: 1.2rem; color: var(--tittle); text-align: center; padding: 0rem 1rem 0rem 1rem;}
    .title_xiaomi-redmi-buds-12-01 {font-size: 0.9rem; color: var(--tittle); text-align: center; padding: 0rem 1rem 0rem 1rem;}

    .title_xiaomi-redmi-buds-13-2 {font-size: 1.5rem; color: var(--tittle); margin: 3rem 1rem 0rem 1rem; padding: 1rem 1rem 1rem 1rem;}
    .paragraph_xiaomi-redmi-buds-13 {font-size: 1rem; line-height: 1.4rem; color: var(--paragraph); text-align: left; margin: 0rem 1rem 0rem 1rem; padding: 0rem 1rem 0rem 1rem;}

    .title_xiaomi-redmi-buds-14 {font-size: 1.5rem; color: var(--tittle); text-align: center; margin: 2rem 1rem 0rem 1rem; padding: 1rem 1rem 0rem 1rem;}

    .notes_xiaomi-redmi-buds-15 {font-size: 1rem; line-height: 1.4rem; color: var(--tittle-gray); text-align: left; margin: 0.5rem 1rem 0rem 1rem; padding: 0rem 1rem 0rem 1rem;} 

    /*==================================================== GRID ========================================================*/

    .grid_bg-01 {
        margin: 1rem 1rem 0rem 1rem;
    }

    .grid_bg_01-01 {
        display: flex;
        align-items: baseline;
    }

    .grid_bg_01-02 {
        display: grid;
    }

    .grid_bg-02-01 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        align-items: center;
        text-align: center;
        margin: 1rem 1rem 1rem 1rem;
    }

    /*======================================================= LAYOUT =======================================================*/

    .bg_01 {
        height: 48rem;
        background-image: url(../media/Overview_M1080_01.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        margin-bottom: 3rem;
    }

    .bg_02 {
        margin-bottom: 3rem;
    }

    .bg_02-01 {
        height: 14rem;
        background-image: url(../media/Overview_M1080_02-01.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        margin: 0rem 1rem -1rem 1rem;
    }

    .bg_02-02 {
        height: 14rem;
        background-image: url(../media/Overview_M1080_02-02.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
    }

    .bg_02-03 {
        height: 14rem;
        background-image: url(../media/Overview_M1080_02-03.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
    }

    .bg_02-04 {
        height: 14rem;
        background-image: url(../media/Overview_M1080_02-04.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        margin: -1rem 1rem 0rem 1rem;
    }

    .bg_03 {
        height: 50rem;
        background-image: url(../media/Overview_M1080_03.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .bg_03_01 {
        display: grid;
    }

    .bg_03_02 {
        width: 19rem; 
        height: 5rem;
        background-image: url(../media/Overview_M1080_03-01.png);
        background-size: cover;
        background-position: center;
        display: grid;
        align-items: center;
        text-align: center;
        margin: 1rem 0rem 1rem 2rem;
    }

    .icon_03-01 {
        width: 14rem; 
        height: 6rem;
        margin: 2rem 0rem 0rem 2rem;
    }

    .bg_04 {
        height: 52rem;
        background-image: url(../media/Overview_M1080_04.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
    }

    .icon_04-01 {
        width: 12rem; 
        height: 5rem;
        margin: 0rem 0rem 0rem 0rem;
    }

    .icon_04-02 {
        width: 12rem; 
        height: 5rem;
        margin: 0rem 0rem 0rem 0rem;
    }

    .bg_04_01 {

    }

    .bg_04_02 {
        margin-top: -18rem;
    }

    .bg_04_02-01 {
        width: 19rem; 
        height: 5rem;
        background-image: url(../media/Overview_M1080_03-02.png);
        background-size: cover;
        background-position: center;
        display: grid;
        align-items: center;
        text-align: center;
        margin: 1rem 0rem 1rem 2rem;
    }

    .bg_05 {
        height: 50rem;
        background-image: url(../media/Overview_M1080_05.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
    }

    .icon_05-01 {
        width: 12rem; 
        height: 5rem;
        margin: 0rem 0rem -4rem 0rem;
    }
    
    .grid_bg_05-01 {
        display: grid;
        align-items: center;
        text-align: center;
        margin: 1rem 12rem 1rem 2rem;
    }

    .bg_05-01 {
        margin-top: -18rem;
    }

    .bg_05_02 {
       
    }

    .bg_06 {
        height: 38rem;
        background-image: url(../media/Overview_M1080_06.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
    }

    .bg_06_01 {

    }
    
    .bg_07 {
        height: 22rem;
        background-image: url(../media/Overview_M1080_07.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
    }

    .bg_08 {
        height: 56rem;
        background-image: url(../media/Overview_M1080_08.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bg_08-intern {
    }

    .bg_08-01 {
        display: grid;
    }

    .bg_08-02 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: center;
        margin: auto;
    }

    .icon_08-01 {
        width: 8rem; 
        height: 5rem;
        margin: 0rem 0rem -4rem 0rem;
    }

    .icon_08-02 {
        width: 8rem; 
        height: 5rem;
        margin: 0rem 0rem -4rem 0rem;
    }

    .icon_08-03 {
        width: 8rem; 
        height: 5rem;
        margin: 4rem 0rem -4rem 0rem;
    }

    .bg_09 {
        height: 42rem;
        background-image: url(../media/Overview_M1080_09.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        margin: 0rem 2rem 0rem 2rem;

    }

    .bg_09-extension {
        height: 22rem;
        background-image: url(../media/Overview_M1080_09-01.png);
        background-size:cover;
        display: flex;
        flex-direction: column;
        margin: 0rem 2rem 2rem 2rem;
    }

    .bg_09_01-icons-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: center;
        margin: 0rem 1rem 1rem 1rem;
    }

    .icon_09-01 {
        width: 3rem;
        margin: 2rem 1rem 0rem 1rem;
    }

    .bg_10 {
        height: 42rem;
        background-image: url(../media/Overview_M1080_10.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
    }

    .bg_11 {
        height: 18rem;
        background-image: url(../media/Overview_M1080_11.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        margin: 4rem 0rem 1rem 2rem;
    }

    .bg_12 {
        height: 18rem;
        background-image: url(../media/Overview_M1080_12.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        margin: 4rem 2rem 1rem 0rem;
    }

    .bg_13-01 {
        height: 18rem;
        background-image: url(../media/Overview_M1080_13-01.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
    }

    .bg_13-02 {
        height: 18rem;
        background-image: url(../media/Overview_M1080_13-02.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
    }

    .bg_13-03 {
        height: 18rem;
        background-image: url(../media/Overview_M1080_13-03.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
    }
    
    .bg_14 {
        height: 26rem;
        background-image: url(../media/Overview_M1080_14.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        margin: 2rem 0rem 2rem 0rem;
    }

    .bg_14_01-icons-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: center;
        margin: 1rem 1rem 1rem 1rem;
    }

    .bg_15 {
        margin: 4rem 0rem 0rem 0rem;
    }
}